* {
    padding: 0;
    margin: 0;
}

.section1 {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.subcontainer {
    display: inline-block;
    border: black 1px solid;
    width: 200px;

}

.container {
    margin-top: 10px;
    text-align: center;
}

.subcontainer button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
}

.sec2 {
    background-color: black;
    color: white;
    margin-top: 5px;
    padding: 20px;
}

.sec2__table {
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-top: 2px;
}

.sec2__button {
    width: 400px;
    text-align: center;
    background-color: yellow;
    color: black;
    display: inline-block;
    margin-top: 2px;
    padding-top: 5px;
    padding-bottom:5px ;
}